version: '3.8'

services:
  api:
    build: .
    container_name: backend_template_api
    ports:
      - '3000:3000'
    env_file:
      - .env.production
    environment:
      NODE_ENV: production
      DB_URI: mongodb://${DB_USER}:${DB_PASS}@mongo:27017/${DB_NAME}?authSource=admin

    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    container_name: backend_template_mongo
    ports:
      - '27018:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASS}
      MONGO_INITDB_DATABASE: ${DB_NAME}
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
